body {
    background: #e8cbc0;
    background: -webkit-linear-gradient(to right, #e8cbc0, #636fa4);
    background: linear-gradient(to right, #e8cbc0, #636fa4);
    min-height: 100vh;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}
.col-xl-3 col-sm-77 mb-5{
    padding-left: 500px;
}
.main{
    margin-top: 150px;
}

.show{
    padding-left: 330px;
}
.cont{
    margin-top: 35px;
}

.last{
    display: flex;
 
  align-items: center;
  justify-content: center;
  
  position: relative;
}
.container
{
    clip-path: circle();
    width: 75px;
    height: 70px;
}